.title-37px {
  color: #383838;
  font-family: "Prompt";
  font-size: 37px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
}

.normal {
  font-style: normal;
}

